.invito {
    position: absolute !important;
    margin: 30px 25% !important;
    text-align: center !important;
    width: 50% !important;
    font-size: 12rem;
    
}

.round-star-label {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    position: absolute;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff0000;
}

.round-star-label::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff0000;
    text-shadow: none;
    -webkit-transform: rotateZ(30deg)   ;
    transform: rotateZ(30deg)   ;
}

.round-star-label::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff0000;
    text-shadow: none;
    -webkit-transform: rotateZ(60deg)   ;
    transform: rotateZ(60deg)   ;
}

.starting-from {
    position: absolute;
    color:yellow;
    -webkit-transform: rotateZ(-22deg)   ;
    transform: rotateZ(-22deg)   ;
    padding-top: 12%;
}
.starting-from > span {font-size:3em;}

.colonna-badge {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    -webkit-transform: rotateZ(-12deg);
    transform: rotateZ(-12deg);
    height:200px;
    padding-left: 12%;
    position:relative;
    z-index: 1;
}

.testa {
    position: fixed;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid gray 1px;
    z-index: 2;
    color: white;
    text-align: center;
    max-height:0px;
    transition:max-height 2s;
}

.img-hover:hover > .testa {max-height:19000px;}

@media only screen and (max-width: 600px) {
    .colonna-badge {
        float: right;
        left: -50%;
    }
}

@media only screen and (max-width: 998px) {
    .invito {
        font-size: 6rem;
        padding-top: 60px;
    }
    .colonna-badge {
        display: none!important;
    }
}


@media only screen and (max-width: 450px) {
    .invito {
        font-size:3rem;
        padding-top: 90px;
    }
}
